/node_modules
/public/hot
/public/storage
/public/img/articles/*
/public/img/equipes/*
/storage/*.key
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.phpunit.result.cache
/vendor/*