@import url('https://fonts.googleapis.com/css?family=Economica:400,400i,700,700i');

body{
  background: rgb(245,245,245);
  color: #424242;
  font-size: 15px;
  font-family: 'Economica';
}

h1{
  color: white;
  font-weight: lighter;
  font-size: 200px;
}

b {
  color: white;
  font-size: 17px;
  font-style:italic;
}
body #div_component p {
  font-size: 20px;

}
c {
  color: white;
  font-size: 40px;
}

h2 {
  color: black;
  font-weight: 600;
  font-size: 20px;
}
a {
}
a:hover {
  text-decoration: none;
  color: #E5512F !important;
}

.banner{
  text-align: center;
  background-image: url("https://static.pexels.com/photos/891683/pexels-photo-891683.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 50px;
  color: white;
  text-shadow: 1px 1px 5px black;
  min-height: max-content;
}

.banner a, .banner a:hover {
  color: white;
}

.intro{
  padding: 50px 0;
  width: 90%;
  margin: auto;
  text-align:justify;
  font-weight: lighter;
}

.card{
  width: 300px;
  padding: 30px;
  font-weight: lighter;
  margin: 10px auto;
}
.contact {
  padding: 50px 0;
}
ul {
  list-style-type: none;
  padding: 0;
}

@media screen and (min-width: 768px) {
  .banner {
    /*padding: 20px;*/
    height: 400px;
  }

  .card {
    margin: auto;
  }
}
footer i {
  font-size: 1.2rem !important;
  background-color: #FFF;
  padding: 10px;
  height: 2em !important;
  width: 2em !important;
  border-radius: 0;
  transition: all 0.4s ease;
}
footer a:hover i {
  border-radius: 50%;
}
footer {
  text-align: center;
  padding: 40px 0;
  min-height: 80px;
  background-color: #3E3E3E;
}
footer a {
  color: #3E3E3E;
}
footer li {
  display: inline-block;
}

.fixedBottom {
  position: absolute;
  bottom: 0;
}
.valign-middle {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.cd-timeline-img.cd-picture span {
  display: inline-block;
  margin-top: 8px;
  color: #fff;
}

.orange {
  color: #E5512F !important;
}

.red {
  color: #7D1D18 !important;
}

@media only screen and (min-width: 992px) {
  body .cd-timeline-img {

    width: 30px;
    height: 30px;
    left: 52%                            ;
  }
}
body .cd-timeline-content {
  background-color: #F8F9FA;
}

body .cd-timeline-img.cd-picture, .cd-timeline-img.cd-movie, .cd-timeline-img.cd-location {
  background: #E5512F;
}

body .cd-timeline-img {
  box-shadow: -5px -5px 0px 0px #7D1D18;
}

body .cd-timeline-content a:hover {
  text-decoration: none;
}

body .cd-timeline-content a:hover h4 {
  color: #E5512F !important;
}
.wrapper {
  max-width: 680px;
  margin: 30px auto;
}

.youtube {
  background-color: #000;
  margin-bottom: 30px;
  position: relative;
  padding-top: 56.25%;
  overflow: hidden;
  cursor: pointer;
}
.youtube img {
  width: 100%;
  top: -16.82%;
  left: 0;
  opacity: 0.7;
}
.youtube .play-button {
  width: 90px;
  height: 60px;
  background-color: #333;
  box-shadow: 0 0 30px rgba( 0,0,0,0.6 );
  z-index: 1;
  opacity: 0.8;
  border-radius: 6px;
}
.youtube .play-button:before {
  content: "";
  border-style: solid;
  border-width: 15px 0 15px 26.0px;
  border-color: transparent transparent transparent #fff;
}
.youtube img,
.youtube .play-button {
  cursor: pointer;
}
.youtube img,
.youtube iframe,
.youtube .play-button,
.youtube .play-button:before {
  position: absolute;
}
.youtube .play-button,
.youtube .play-button:before {
  top: 50%;
  left: 50%;
  transform: translate3d( -50%, -50%, 0 );
}
.youtube iframe {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

nav .navbar-nav .nav-item:hover .nav-link {
  color: #E5512F;
}

.white {
  color: #fff;
}
.black{
  color: #000;
}

body .card {
  border: 1px solid #E5512F;
}

body .btn.btn-primary {
  border: 1px solid #E5512F;
  background-color: transparent;
  color: #000;
  transition : all 0.2s;
}

body .btn.btn-primary:hover {
  background-color: #E5512F;
  color: #fff !important;
}