@import url('https://fonts.googleapis.com/css?family=Economica:400,400i,700,700i');

html body{
  color: #424242;
  font-size: 23px;
  font-family: 'Economica' !important;

}

body h1{
  color: #6e1229;
}

body h2 {
  color: #d9411d;
  font-size: 1.8rem;
}
body h3 {
  color: #6e1229;
}
body h4 {
  color: #d9411d;
}
b {
  color: white;
  font-size: 17px;
  font-style:italic;
}
body #div_component p {
  font-size: 22px;

}
body .btn {
  font-size: 1.2rem;
}
c {
  color: white;
  font-size: 40px;
}
a:hover {
  text-decoration: none;
  color: #d9411d !important;
}

.banner{
  text-align: center;
  background-image: url("https://static.pexels.com/photos/891683/pexels-photo-891683.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 50px;
  color: white;
  text-shadow: 1px 1px 5px black;
  min-height: max-content;
}

.banner a, .banner a:hover {
  color: white;
}

.contact-anchor {
  font-family: 'Economica';
  font-size: 35px;
}

.intro{
  padding: 50px 0;
  width: 90%;
  margin: auto;
  text-align:justify;
  font-weight: lighter;
}
.slick-slide {
  height: auto !important;
}
body .slick-prev:before, body .slick-next:before {
  color: #d9411d !important;
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
}
body .slick-next:before {
  content: '\f0da';

}
body .slick-prev:before {
  content: '\f0d9';

}
.card{
  width: 300px;
  padding: 0px;
  font-weight: lighter;
  margin: 10px auto;
}
.contact {
  padding: 50px 0;
}
ul {
  padding: 0;
}

@media screen and (min-width: 768px) {
  .banner {
    /*padding: 20px;*/
    height: 500px;
  }

  .card {
    margin: auto;
  }
}
footer i {
  font-size: 1.2rem !important;
  background-color: #FFF;
  padding: 10px;
  height: 2em !important;
  width: 2em !important;
  border-radius: 0;
  transition: all 0.4s ease;
}
footer a:hover {
  text-decoration: none;
}
footer a:hover i {
  border-radius: 50%;
}
footer {
  text-align: center;
  padding: 40px 0;
  min-height: 80px;
  background-color: #3E3E3E;
}
footer a {
  color: #3E3E3E;
}
footer li {
  display: inline-block;
}

.fixedBottom {
  position: absolute;
  bottom: 0;
}
.valign-middle {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.cd-timeline-img.cd-picture span {
  display: inline-block;
  margin-top: 8px;
  color: #fff;
}
.bg-cover {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.orange {
  color: #d9411d !important;
}

.red {
  color: #6e1229 !important;
}

.bg-red {
  background-color: #6e1229;
}

@media only screen and (min-width: 992px) {
  body .cd-timeline-img {

    width: 30px;
    height: 30px;
    left: 52%                            ;
  }
}
body .cd-timeline-block {
  visibility: hidden;
}
body .cd-timeline-content {
  background-color: #F8F9FA;
}

body .cd-timeline-img.cd-picture, .cd-timeline-img.cd-movie, .cd-timeline-img.cd-location {
  background: #E5512F;
  border-radius: 50%;
}

body .cd-timeline-img {
  box-shadow: none;
}

body .cd-timeline-content a:hover {
  text-decoration: none;
}

body .cd-timeline-content a:hover h4 {
  color: #d9411d !important;
}
.wrapper {
  max-width: 680px;
  margin: 30px auto;
}

.youtube {
  background-color: #000;
  margin-bottom: 30px;
  position: relative;
  padding-top: 56.25%;
  overflow: hidden;
  cursor: pointer;
}
.youtube img {
  width: 100%;
  top: -16.82%;
  left: 0;
  opacity: 0.7;
}
.youtube .play-button {
  width: 90px;
  height: 60px;
  background-color: #333;
  box-shadow: 0 0 30px rgba( 0,0,0,0.6 );
  z-index: 1;
  opacity: 0.8;
  border-radius: 6px;
}
.youtube .play-button:before {
  content: "";
  border-style: solid;
  border-width: 15px 0 15px 26.0px;
  border-color: transparent transparent transparent #fff;
}
.youtube img,
.youtube .play-button {
  cursor: pointer;
}
.youtube img,
.youtube iframe,
.youtube .play-button,
.youtube .play-button:before {
  position: absolute;
}
.youtube .play-button,
.youtube .play-button:before {
  top: 50%;
  left: 50%;
  transform: translate3d( -50%, -50%, 0 );
}
.youtube iframe {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

nav .navbar-nav .nav-item:hover .nav-link {
  color: #d9411d;
}

.white {
  color: #fff !important;
}
.black{
  color: #424242;
}

body .card {
  border: 1px solid #d9411d;
}

body .btn.btn-primary {
  border: 1px solid #d9411d;
  background-color: transparent;
  color: #000;
  transition : all 0.2s;
}

body .btn.btn-primary:hover {
  background-color: #d9411d;
  color: #fff !important;
}

body .projects .card-body, body .articles .card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

body .projects h2.card-title, body .articles h2.card-title {
  font-size: 1.8rem;
}

body .navbar li a.nav-link {
  font-size: 20px;
}

.mod_cookie_bar {
  padding: 0;
}

.mod_cookie_bar .cookie_bar {
  display: flex;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 7px 20px;
  color: #666;
  background-color: #f2f2f2;
  font-size: 0.9em;
}

.mod_cookie_bar a:hover {
  text-decoration: none;
}


#accordion .btn {
  background-color: transparent;
}

a:active {
  background-color: transparent !important;
}